.prospectBadge{
    background-color: rgb(1, 118, 211); 
    color: white;
}
.engageBadge{
   background-color: #4bca81; 
   color: #ffffff;
}
.ccVolunteerBadge{
    background-color: #1ab9ff; 
    color: #ffffff;
}
.impactBadge{
    background-color: rgb(127, 141, 225); 
    color: white;
}