/* ham_philanthropyCardCmp.css */
.card-list-container {
    padding: 10px; /* Padding around the list of cards */
}

.mobile-pledge-card {
    background-color: #EBF7FF;
    border: 1px solid #D1EDFF;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 10px; /* Space between cards */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.mobile-pledge-card .card-title {
    font-weight: 500;
    margin-bottom: 10px;
    color: #231F20; /* A shade of blue for titles */
    /* border-bottom: 1px solid #f0f0f0; */
    padding-bottom: 8px;
}

.mobile-pledge-card .card-title h3 {
    margin: 0;
    font-size: 14px;
}

.mobile-pledge-card .card-details {
    margin-top: 10px;
}

.mobile-pledge-card .card-detail-item {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically align items */
    padding: 5px 0;
    border-top: 1px dashed #f0f0f0; /* Separator for details */
}

.mobile-pledge-card .card-detail-item:first-of-type {
    border-top: none; 
}

.mobile-pledge-card .card-label {
    font-weight: 500;
    color: #231F20;
    flex-basis: 45%; /* Adjust width for labels */
    font-size: 14px;
    font-weight: 500;
}

.mobile-pledge-card .card-value {
    color: #231F20;
    text-align: right;
    /* flex-basis: 55%; */
    word-wrap: break-word;
    background: #F6FBFF;
    padding: 5px 10px;
    border: 1.5px solid #F6FBFF;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
}

.load-more-button {
    background-color: #002F86;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%; /* Full width button */
    text-align: center;
    font-weight: 500;
}

.load-more-button:hover {
    background-color: #0056b3;
}


@media (max-width: 1024px) {
.date-grid {
    width: 100%;
    min-width: 0;
}

.date-col {
    min-width: 0;
}

.date-input {
    width: 100%;
    min-width: 0;
}
}

.kirkland-override .mobile-pledge-card { background-color: #EDFCF3 !important; }
.kirkland-override .load-more-button { background-color: #166837 !important; }
.kirkland-override .slds-text-title_bold { color: #166837 !important; }