.number-filter {
    display: flex; 
    flex-direction: column; 
    gap: 0.5rem; 
    padding: var(--lwc-spacingSmall);
    border: var(--lwc-borderWidthThin) solid var(--slds-g-color-border-base-1, var(--lwc-colorBorder));
    border-radius: var(--lwc-borderRadiusMedium);
}